.container2 {
  margin-top: 94px;
  margin-left: 165px;
  
  width: 1170px;
  height: 140px;
  
  }
  
  .container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .cont1 {
    width: 270px;
    height: 250px;
   
  }
  
  .antena {
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cont2 {
    width: 270px;
    height: 250px;
  }
  
  .cont3 {
    width: 270px;
    height: 250px;
  }
  
  .cont4 {
    width: 270px;
    height: 250px;
  }